@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  .chess-board{
    width: 100% !important;
  }
  .login-form {
    margin-top: 40% !important;
  }
  .date {
    width: 91% !important;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  
}

.Footer {
  display: flex;
  text-align: center;
  font-size: 100%;
  justify-content: space-around;
  background-color: #0d7377;
}

.Header {
  text-align: center;
  font-size: 100%;
  background-color: #0d7377;
}

.Root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #737373;
}

.is-Centered{
  display: flex;
  justify-content: center;
  flex: 1;
}

.chess-board {
  background-color: #212121;
  width: 50%;
  margin: auto;
}

.chess-cell{
  width: 11.875%;
  padding: 9px;
  margin: 1px;
}

.chess-column-indicator {
  display: flex;
  color: #ffffff;
}

.chess-column{
  width: 11.875%;
  height: auto;
  text-align: center;
  margin: auto;
}

.chess-id{
  width: 5%;
  text-align: center;
  vertical-align: bottom;
  margin: auto;
  color: #ffffff;
}

.chess-row{
  display: flex;
}

.form-actions{
  margin: auto;
}

.form-group {
  width: 70%;
  margin:auto;
}

.form-group h1{
  text-align: center;
}

.form-input input{
  font-size: 1.5em;
  margin: 10px auto;
  border: 0;
}

.form-input{
    display: flex;
    width: 100%;
}

.form-group .btn{
  border: #212122 solid 1px;
  border-radius: 3px;
  background-color: #212121;
  color: #ffffff;
  margin-left: 40px;
}

.piece-image {
  width: 100%;
  margin: auto;
}